@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
    /*Color*/
    --color0:#FFFFFF;
    --color1:#181818;
    --color2:#020C56;
    --color3:#261CE9;
    --color4:#2A4591;
    --color5:#D1D2D6;
    --color6:rgba(209, 210, 214, 0.20);
    --color7:rgba(250, 250, 250, 0.9);
    --color8:rgba(209, 210, 214, 0.50);
    --text-color:var(--color1);
    --bg-color: var(--color0);
    --icon-color: var(--color0);
    --navbar-color:var(--color0);
    /*size*/
    --nav-height:80px;
    --radius-btn:35px;
}

*{
    color: #181818;
    font-family: 'Roboto';
}

* {
    box-sizing: inherit;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

image{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

.grid {
    width: 1465px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.15s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from : 0.7;
    --growth-to : 1;
    margin: auto;
    position: relative;
    z-index: 999;
    border-radius: 8px;
    animation: growth linear 0.1s;
}


.button-inner {
    position: relative;
    display: grid;
    place-items: center;
    border-radius: var(--radius-btn);
    background-color: var(--icon-color);
    width: 95%;
    height: 50%;
}

.button-inner:hover .btn-txt{
    color: var(--color0);
}

.btn-txt ,.smartphone__btn-txt{
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: auto;
}

.btn-obj:hover{
    transform: scale(1.02);
    background-color: var(--color1);
    cursor: pointer;
    display: grid;
    place-items: center;
}

.icon-obj:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.button__add-cart{
    width: 50%;
    height: 50px;
    border-radius: var(--radius-btn);
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:4%;
    border: none;
    cursor: pointer;
}
.button__add-cart span{
    position: relative;
    color: var(--color0);
    font-size: 80%;
    font-weight: 600;
    /* transition: opacity 0.4s ease-in-out; */
}
.button__add-cart i{
    color: var(--color0);
}
.button__add-cart:hover span{
    animation: hiddenItem 0.5s ease-in-out 0.1s forwards;
}

@keyframes hiddenItem {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        display: none;
    }
}


