@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    color: black;
    font-family: 'Roboto';
}

body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.process_list .process_step{
    margin: 30px 0px;
    width: 200px;
}

.process_step .process_step-number{
    width: 34px;
    height: 34px;
    background-color: #181818;
    border-radius: 50%;
    color: #ffffff;
}

.process_step-number ion-icon{
    color: #ffffff;
    font-size: 20px;
}

.process_step .process_step-title{
    font-size: 21px;
    color: #181818;
}

/* content */
.content{
    width: 1250px;
}

.content_left{
    width: 800px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.content_right{
    width: 400px;
    height: 100%;
}

.content_right-container{
    background-color: #181818;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.content_right-container *{
    color: white;
}

/* sumary */

.cart_sumary-policy,
.cart_sumary-support,
.sumary_invoice{
    font-size: 18px;
    margin-bottom: 40px;
}

.cart_sumary-policy ion-icon,
.cart_sumary-support ion-icon,
.sumary_invoice ion-icon{
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-top: 5px;
}

/* payment */
.button_payment,
.button_return{
    border: none;
    border-radius: 24px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
}

.button_payment{
    background-color: #2189FF;
    color: white;
}

.button_return{
    background-color: #3e3e3e;
    color: white;
    margin-bottom: 20px;
}

.button_return:hover, .button_payment:hover{
    background-color: #ffffff;
    color: #181818;
}

footer{
    background-color: #181818;
    margin-top: auto;
    width: 100%;
}

footer p{
    color: #ffffff;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    justify-content: left;
    align-items: center;
}

.right{
    display: flex;
    justify-content: right;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.full{
    width: 100%;
}

.auto-size{
    width: auto;
}