.navbar-main{
    z-index: 100;
    height: var(--nav-height);
    width: 100%;
    top: 0;
    right: 0;
    background-color: var(--navbar-color);
    position: fixed;
    font-size: 14.15px;
    color: var(--color1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.5px var(--color5);

}

.navbar-main image{
    object-fit: cover;
    background-repeat: no-repeat;
}

.navbar-list{
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.navbar-item{
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    width: 120px;
    height: var(--nav-height);
    overflow: hidden;
    flex-shrink: 0;
}
.nav__btn-icon{
    position: relative;
    margin: auto;
}
.nav__btn-icon::after{
    margin-left: -30px;
}


.navbar-logo{
    position: relative;
    left: 1%;
    height: auto;
    width: 11%;
    max-width: 100%;
    max-height: 100%;
}

.nav__list-icon{
    position: relative;
    right: 1%;
    height: var(--nav-height);
    display: flex;
    flex-direction: row;
    gap:40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.navbar-menu{
    display: none;
    position: fixed;
    z-index: 15;
    width: 50%;
    background-color: var(--color7);
    border-top: solid 1px var(--color1);
    border-radius: 0 0 30px 30px;
    height: auto;
    top: calc(var(--nav-height) - 0.4px);
    right: 5%;
    padding: 2%;
}
.navbar__menu-item{
    border: solid 0.5px var(--color5);
    border-radius: 30px;
    height: 50px;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color0);
}
.navbar__menu-item:hover{
    background-color: var(--color1);
    color: var(--color0);
    cursor: pointer;
}
.navbar__menu-item p{
    margin: auto;
    font-weight: 500;
    font-size: 95%;
}

@keyframes FrameGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#nav-list-btn{
    display: none;
}
.navbar-menu-container{
    height: 100%;
    width: 50px;
    display: none;
    place-items: center;
}
.nav-menu{
    display: none;
    user-select: none;
    cursor: auto;
    transform-origin: 80% top;
    animation: FrameGrowth ease-in 0.25s;
    will-change: opacity, transform;
}

.navbar-menu-container:hover .navbar-menu{
    display: block;
    cursor: pointer;
}
@media screen and (max-width:1100px){
    .navbar-main{
        justify-content: space-between
    }
    .navbar-list{
        display: none;
    }
    #nav-list-btn{
        display: block;
    }
    .navbar-menu-container{
        display: grid;
    }
}

.search-container{
    width: 900px;
    min-height: 450px;
    max-height: 550px;
    background-color: var(--color0);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: auto;
    padding: 2%;
}

.search__box{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 0 10px;
    z-index: 999;
}

.search__box input{
    width: 60%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--color5);
    border-width: 0;
    padding: 0 10px;
    outline: none;
}

.search__box img{
    margin-left: 2%;
}

.search__fast{
    height: auto;
    width: 100%;
    margin-bottom: 2%;
}

.search_history{
    height: auto;
    width: 100%;
    margin-bottom: 2%;
}
.search__fast p,.search_history p{
    font-weight: 90%;
    color: var(--color2);
    margin-bottom: 1%;
}
.list__search-link{
    display: flex;
    flex-wrap: wrap;
}

.search__link-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: 50px;
    background: white;
    border: solid 1px var(--color5);
    border-radius: 30px;
    padding: 5px 10px;
    margin: 1%;

}
.search__link-item p{
    color: var(--color1);
    font-size: 70%;
}
.search__link-item img{
    width: 10%;
    margin-left: 5%;
}
.search__link-item:hover{
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (max-width:767px){
    .search-container {
        width: 500px;
    }
    .search__link-item {
        min-height: 25px;
    }
}

@media screen and (min-width:767px) and (max-width:1023px){
    .search-container {
        width: 700px;
    }
    .search__link-item {
        min-height: 30px;
    }
    /* section{
        background-color: rgb(255, 0, 217);
    } */
}

/* Search style*/

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.input-txt__group{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 50px;
    background-color: var(--color8);
    gap: 2%;
}

.input-txt__group .find-btn{
    position: relative;
    font-size: large;
    cursor: pointer;
}

.input-txt__group .close-btn{
    position: relative;
    font-size: medium;
    opacity: 0;
}

.input-search{
    margin-left: 20px;
    height: 50px;
    width: 80%;
    outline: none;
    padding: 0 10px;
    color: var(--color2);
    background-color: transparent;
    border-width: 0;
    font-size: large;
    z-index: 2;
}

.input-search:focus {
    border: dotted 2px #181818;
}

.input-search:focus .close-btn{
    opacity: 100%;
}

#clear-btn-search{
    color: gray;
}

@media screen and (max-width:1050px){
    .input-txt__group .find-btn{
        display: none;
    }
}