.history-content{
    width: 90%;
    margin-top: 20px;
}

.product_history-list{
    width: 100%;
}

.product_history-list hr{
    width: 1100px;
}

.product_history-item{
    width: 800px;
}

.product_history-order{
    width: 100%;
}

.product_history-order *{
    font-weight: bold;
}

.product_history-order-left{
    width: 50%;
    text-align: left;
    justify-content: left;
}

.product_history-order-right{
    width: 50%;
    text-align: right;
    justify-content: right;
}

.product_item{
    padding: 2px 10px;
    background-color: #f7f7f7;
    border-radius: 15px;
}

.product_img-square{
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.product_img-square img{
    width: 100%;
    height: auto;
    display: block;
}

.product_details{
    width: 700px;
}

tbody .product_details-left{
    width: 50%;
    text-align: left;
}

.product_details-left .product_details-color,
.product_details-left .product_details-code{
    font-size: 0.9em;
}

tbody .product_details-right{
    width: 50%;
    text-align: right;
}

.product_history-controls{
    width: 100%;
    display: flex;
    justify-content: right;
}


.product_history-controls-right button{
    width: 100px;
    height: 30px;
    margin: 2px;
    margin-top: 12px;
    color: #181818;
    border: none;
    border-radius: 7px;
}

.product_history-controls-right .button-details{
    background-color: #181818;
    color: #fff;
}

.product_history-controls-left{
    width: 30%;
    text-align: left;
}

.product_history-controls-right{
    width: 70%;
    justify-content: right;
}

.product_history-controls-right button:hover{
    background-color: #2189FF;
    color: #fff;
}