.content_right{
    height: 800px;
}

.information_deliver *{
    font-size: 20px;
}

.information_deliver{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 10px;
}

.information_deliver .information_deliver-label-text{
    transform: translateY(-80px) translateX(-5px);
    background-color: #fff;
    width: 340px;
    text-indent: 10px;
}

.information_deliver-text{
    margin-top: 25px;
    margin-bottom: -50px;
    border: none;
    border-bottom: 1px solid #000;
    box-shadow: none;
    width: 330px;
    height: 60px;
    line-height: 1;
    text-indent: 10px;
}

.information_deliver-line{
    width: 100%;
}

.information_deliver-line .information_deliver-input{
    flex: 1;
}

.information_deliver-line .information_deliver-label-text{
    transform: translateY(-50px) translateX(-5px);
}

.information_deliver-method{
    display: flex;
    align-items: center;
    justify-content: left;
}

.information_deliver-method input{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.information_deliver-method .information_deliver-input{
    flex: 1;
}

.note{
    border: 1px solid #000;
    width: 700px;
    height: 120px;
    resize: none;
}