.content_right{
    height: auto;
}

.information_delivery label{
    width: 220px;
    float: left;
}

.payment_method{
    width: 100%;
    display: flex;
    margin-top: 10px;
    background-color: #181818;
}

.payment_method p{
    margin-right: auto;
    text-indent: 20px;
    color: #fff;
}

.payment_method ion-icon{
    width: 30px;
    height: auto;
    margin-right: 20px;
    color: #fff;
}

.payment_method-content{
    display: none;
}

.product_img-square{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.product_img-square img{
    width: 90%;
    height: auto;
    display: block;
}

.product_details-left{
    width: 70%;
}

.product_details-right{
    width: 30%;
}

.product_details-title a{
    font-size: 15px;
}


.product_details-color span{
    font-size: 13px;
}

.product_details-code span{
    font-size: 12px;
}

.product_details-price span{
    font-size: 15px;
}
